# Copyright lowRISC contributors (COSMIC project).
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

*.lock lingust-generated=true
doc/img/memmap.svg linguist-generated=true
doc/img/mocha.svg linguist-generated=true
hw/top_chip/ip/xbar_peri/*/autogen/* linguist-generated=true
hw/top_chip/ip_autogen/* linguist-generated=true
